.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }

header {
display: flex;
justify-content: space-between;
text-align: center;
padding: 20px;
padding-top: 0px;
color: hsl(206, 17%, 28%);
}

.title {
margin-bottom: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main {
margin-bottom: 20px;
font-size: 100px;
width: 100%;
height: 25px;
}


